doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/musicAudio.css')
    link(rel='stylesheet', href='/stylesheets/svg.css')
    script(src='/javascripts/jquery-1.10.2.min.js')
  body
    block content
